<h1>Formularz</h1>
<form name="postingForm" class="form-horizontal col-md-offset-2" novalidate>
  <div class="form-group">
    <label class="col-md-2">Tytuł</label>
    <div class="col-md-6">
      <input class="form-control" placeholder="Tytuł" ng-model="posting.title" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2">Firma</label>
    <div class="col-md-6">
      <input class="form-control" placeholder="Firma" ng-model="posting.company" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2">Miasto</label>
    <div class="col-md-6">
      <input class="form-control" placeholder="Miasto" ng-model="posting.city" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2">Kod pocztowy</label>
    <div class="col-md-6">
      <input class="form-control" placeholder="Kod pocztowy" ng-model="posting.postalCode" required ng-pattern="postalCodeRegex">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2">Ulica</label>
    <div class="col-md-6">
      <input class="form-control" placeholder="Ulica" ng-model="posting.street" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2">Widełki</label>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Minimum" ng-model="posting.salaryMin" required>
    </div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Maksimum" ng-model="posting.salaryMax" ng-min="posting.salaryMin + 1" validate-max-salary="posting.salaryMin" required>
    </div>
  </div>
  <p class="col-md-offset-2 red-text" ng-if="salaryTooWide(posting)">Zbyt duża rozbierzność kwot (maksymalnie dwukrotność kwoty minimalnej)</p>
  <p class="red-text col-md-offset-4" ng-if="error">Wystąpił błąd, prosimy spróbować później</p>
</form>
<a class="btn btn-warning col-md-2" ui-sref="list">Anuluj</a>
<button class="btn btn-info col-md-2 col-md-offset-8" ng-disabled="postingForm.$invalid || salaryTooWide(posting)" ng-click="savePosting(posting)">Zapisz</a>
