<h1>Lista ogłoszeń</h1>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Tytuł</th>
    <th>Firma</th>
    <th>Miasto</th>
    <th>Kod pocztowy</th>
    <th>Ulica</th>
    <th>Widełki</th>
  </tr>
  <tr ng-repeat="posting in postings">
    <td ng-bind="$index + 1"></td>
    <td ng-bind="posting.title"></td>
    <td ng-bind="posting.company"></td>
    <td ng-bind="posting.city"></td>
    <td ng-bind="posting.postalCode"></td>
    <td ng-bind="posting.street"></td>
    <td>
      <span ng-if="(posting.salaryMin * 2) >= posting.salaryMax" ng-bind="posting.salaryMin + ' - ' + posting.salaryMax"></span>
      <span ng-if="(posting.salaryMin * 2) < posting.salaryMax">Zbyt duża rozbierzność</span>
    </td>
  </tr>
</table>
<a class="btn btn-default col-md-offset-11 col-md-2" ui-sref="form">Dodaj ogłoszenie</a>
